<span *ngIf="loading">Loading...</span>
<span *ngIf="!loading">
  <h1 class="name">{{user.name}}</h1>
  <div class="row menu">
    <div class="col-lg-4 col-md-4 col-sm-2 col-xs-0"></div>
    <div class="col-lg-4 col-md-4 col-sm-8 col-xs-12">
      <a href="/logout">Logout</a>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-3 col-md-2 col-sm-1 col-xs-0"></div>
    <div class="col-lg-6 col-md-8 col-sm-10 col-xs-12">
      <div class="card">
        <div class="card-header"><h2>Image Collections</h2></div>
        <div class="card-body">
          <span *ngIf="!noCollections">
          <div *ngFor="let collection of collections" class="row">
              <div class="col-12">
                <a href="/{{user.id}}/collections/{{collection._id}}/">
                <div class="card">
                  <div class="card-block">
                    <h3 class="card-title">{{collection.name}}</h3>
                    <div class="card-text">{{collection.description}}</div>
                  </div>
                </div>
                <br />
                </a>
              </div>
          </div>
        </span>
          <span *ngIf="noCollections">No collections to display</span>
        </div>
        <div class="card-footer">
          <a href="/{{user.id}}/dashboard/add-collection"><button class="btn btn-primary">Add Collection</button></a>
        </div>
      </div>
    </div>
  </div>
</span>
