
<span *ngIf="job[0]!=job[1]">Loading...</span>
<span *ngIf="job[0]==job[1]">
  <h1 class="name">{{user.name}}</h1>
  <div class="row menu">
    <div class="col-lg-4 col-md-4 col-sm-2 col-xs-0"></div>
    <div class="col-lg-4 col-md-4 col-sm-8 col-xs-12">
      <a href="/logout">Logout</a> &nbsp;&nbsp;<a href="/search">Search</a>
    </div>
  </div>
<div class="row">
  <div class="col-lg-3 col-md-2 col-sm-1 col-xs-0"></div>
  <div class="col-lg-6 col-md-8 col-sm-10 col-xs-12">
    <div class="card">
      <div class="card-header">
        <h3>All Public Collections</h3>
      </div>
      <div class="card-body">
        <span *ngIf="collections">
          <div *ngFor="let collection of collections" class="row">
              <div class="col-12">
                <a href="/collections/{{collection._id}}/">
                <div class="card">
                  <div class="card-block">
                    <h3 class="card-title">{{collection.name}} - {{collection.username||'Unknown'}}</h3>
                    <h6>Rating: {{collection.rating}}</h6>
                    <div class="card-text">{{collection.description}}</div>
                    <span *ngFor="let image of collection.image_id; index as i">
                      <img *ngIf="i<4" src="{{image}}" class="display-image" />
                    </span>
                  </div>
                </div>
                <br />
                </a>
              </div>
          </div>
        </span>
        <span *ngIf="!collections">
          Loading...
        </span>
      </div>
    </div>
  </div>
</div>
</span>
